#tuberiaInferior{
    
    height: 460px;
    width: 80px;
    background: url(../img/pipe.png) no-repeat;
    background-size: cover;
    position: absolute;
    left: 800px;
    bottom: 0px;
   


}
  
#tuberiaSuperior{

    
    height:100px;
    width: 138px;
    background-size: contain;
    background:url(../img/pipe.png) no-repeat;
    transform: rotate(180deg);
    
    position:absolute;
    top:0px;

}
  
#TuberiaSupOff{
    display : none;
}
#TuberiaInfOff{
    display : none;
}
  
